body{
    color: white;
    background-color: #1a1a1a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 150px;
    font-size: 16px;
}
.container{
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;

}

input::placeholder{
    font-size: medium;

}
input{
    background-color: #2a2a2a;
    color: white;
    box-sizing: border-box;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 14px;
    margin-bottom: 10px;
}
button{
    color: white;
    padding: 10px;
    background-color: gray;
    width: 100px;
    flex: 0;
    border: 1px solid #444;
    border-radius: 14px;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin: 0 auto;
}

input[type=file]{
    flex: 0;
    background-color: #2a2a2a;
    border: 1px solid #444;
    padding: 8x;
    color: gray;
}

.title{
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
   
}
.subtitle{
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: gray;
    font-size: 15px;
}

.content{
    margin: 0 auto;
    color: white;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user{
    width: fit-content;
    background-color: #3a3a3a;
    margin-left: auto;
    text-align: right;
    padding: 15px;
    border-radius: 14px;
    margin-bottom: 10px;
}

.assistant{
    width: fit-content;
    background-color: gray;
    margin-right: auto;
    padding: 15px;
    border-radius: 14px;
    margin-bottom: 10px;

}   

.form{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.input-bar{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type=text]{
     flex: 1;
}